/*Navbar Styling*/
a.navbar-brand {
  font-size: 2em;
}

.navbar-default .navbar-brand {
  color: #1c264a;
}

.navbar-default .navbar-brand:hover {
  color: #1c264a;
}

.navbar-default {
  background-color: #318fc2;
}

ul.nav.navbar-nav.navbar-right > li > a {
  color: white;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #006999;
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: #006999;
  color: white;
}

/*Footer Styling*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-right.footer-text > li > a {
  color: #7db1c7;
}

ul.nav.navbar-nav.navbar-right.footer-text > li > a.bold {
  color: #7db1c7;
  font-weight: bold;
}

ul.nav.navbar-nav.navbar-right.footer-text > li > a:hover {
  color: #7db1c7;
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-right.footer-text > li > a:focus {
  color: #7db1c7;
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-left.footer-text > li > a {
  color: #7db1c7;
}

ul.nav.navbar-nav.navbar-left.footer-text > li > a.bold {
  color: #7db1c7;
  font-weight: bold;
}

ul.nav.navbar-nav.navbar-left.footer-text > li > a:hover {
  color: #7db1c7;
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-left.footer-text > li > a:focus {
  color: #7db1c7;
  background-color: #ddd;
}
