/*Style for flexible footer*/
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

/*Navbar Styling*/
a.navbar-brand {
  font-size: 2em;
}

.navbar-default .navbar-brand {
  color: #1c264a;
}

.navbar-default .navbar-brand:hover {
  color: #1c264a;
}

.navbar-default {
  background-color: #318fc2;
}

ul.nav.navbar-nav.navbar-right > li > a {
  color: white;
}

.nav > li > a.last-a {
  padding-right: 0;
}

.navbar-default .navbar-nav > .active> a {
  background-color: #006999;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #006999;
  color: white;
}

/*Body Styles*/
.heading {
  font-weight: 400;
  color: #640360;
  margin-bottom: 15px;
}

ul.awesome-list {
  list-style-type: disc;
  padding-left: 18px;
}

.mobile-box {
  background-color: #b8d6c2;
  padding: 18px;
  position: relative;
}

.mobile-box > p > strong {
  color: #640360;
}

.mobile-box > .mobile {
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .mobile-box > .mobile {
    width: 75%;
  }
}

@media only screen and (max-width: 450px) {
  .mobile-box > .mobile {
    width: 70%;
  }
}

.mobile-image {
  position: absolute;
  display: block;
  max-width: 100%;
  bottom: 13px;
  right: 30px;
}

.login > p {
  margin: 20px 0 15px 0;
  line-height: 33px;
  background-color: #640360;
  color: white;
  text-align: center;
}

/*Footer Styling*/
.footer {
  min-height: 100px;
  background-color: #ddd;
}

.footer > .container {
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-right.footer-text > li > a {
  color: #7db1c7;
}

ul.nav.navbar-nav.navbar-right.footer-text > li > a.bold {
  color: #7db1c7;
  font-weight: bold;
}

ul.nav.navbar-nav.navbar-right.footer-text > li > a:hover {
  color: #7db1c7;
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-right.footer-text > li > a:focus {
  color: #7db1c7;
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-left.footer-text > li > a {
  color: #7db1c7;
}

ul.nav.navbar-nav.navbar-left.footer-text > li > a.bold {
  color: #7db1c7;
  font-weight: bold;
}

ul.nav.navbar-nav.navbar-left.footer-text > li > a:hover {
  color: #7db1c7;
  background-color: #ddd;
}

ul.nav.navbar-nav.navbar-left.footer-text > li > a:focus {
  color: #7db1c7;
  background-color: #ddd;
}
